In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [4]:
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [5]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [6]:
import pandas as pd

In [7]:
school_series = pd.Series(high_schools)

In [8]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [9]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [10]:
school_df = pd.DataFrame(high_school_dicts)

In [11]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [12]:
school_id = [0, 1, 2, 3, 4]

In [13]:
school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [14]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [15]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [16]:
schools_df["School Name"] = school_name

In [17]:
schools_df["School Type"] = type_of_school

schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [18]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [19]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [1]:
# Determine data types for the school DataFrame.
school_data_df.dtypes

NameError: name 'school_data_df' is not defined

In [2]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

NameError: name 'school_data_df' is not defined

In [1]:
class Cat:
    def __init__(self, name):
        self.name = name

In [2]:
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [5]:
# Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

NameError: name 'school_data_complete_df' is not defined